@import "../../../base";
.landing {
 display: flex;
 flex-direction: column;
 background: #ba7eff;
 background: linear-gradient(180deg, #ba7eff 0%, rgb(247, 194, 231) 100%);
 .welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  &__title {
   margin: 0;
   padding: 2rem 0;
   color: $dark1;
   color: rgb(255, 220, 208);
   font-family: $f-fam-primary;
   font-size: $f-size-h;
   font-weight: 800;
   line-height: 80%;
   text-shadow: 3px 3px 1px black;
   animation: 7s linear 1s infinite alternate colorFlair;
  }
  &__text {
   margin: 0;
   padding: 0;
   color: $dark1;
   font-family: $f-fam-h;
   font-size: $f-size-welcome-text;
   font-style: italic;
  }
  &__icons {
   display: flex;
   flex-direction: row;
   padding: 1rem 0;
   .icon {
    margin: 0 calc(1vw + 0.4rem);
    transition: transform 0.3s;
    &:hover {
     transform: scale(1.3);
    }
   }
  }
 }

 .head3d {
  background: none;
  .canvas {
   width: 100%;
   height: 400px;
  }
 }
}

@media (min-width: 600px) {
 .landing {
  flex-direction: row;
  align-items: center;
  .welcome {
   width: 50%;
  }
  .head3d {
   height: 100%;
   width: 50%;
   .canvas {
    width: 100%;
    height: 400px;
   }
  }
 }
}
