@import "../../../../base";

.section_title {
 @extend %section-title;
}

.project-dash {
 padding: 3rem 1rem;
 background: $light1;
 p {
  @extend %section-p;
 }
 &__projects {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  
  // maps color from color list as background for project cards
  @for $i from 1 through length($color-list) {
   a:nth-child(#{length($color-list)}n + #{$i}) {
    background: nth($color-list, $i);
    // background: linear-gradient(to right, nth($color-list, $i), rgb(0, 0, 0));
   }
  }
  .proj-card {
   max-width: 20em;
   margin: 10px;
   padding: 1rem;
   border-radius: 10%;
   background: $dark2;
   transition: transform 0.2s;

   &:hover {
    transform: translateY(-0.2em);
    transform: scale(1.05);
   }
   &__icon {
    margin: 1.2em;
    padding: 0.1em;
    border-radius: 10%;
    background: linear-gradient(to right, pink, blue);
    font-size: 4em;
   }
   &__title {
    padding: 1rem 0;
    color: $light1;
    font-family: $f-fam-h;
    font-size: $f-size-h3;
    font-style: italic;
    font-weight: 400;
   }
   &__text {
    $f-size-h2: calc(2vw + 0.9rem);
    margin: 0.5rem 2em;
    color: $light1;
    font-family: $f-fam-p;
    font-size: $f-size-p;
    font-weight: 300;
   }
  }
 }
}

a {
 text-decoration: none;
}
