@import "../../../../base";

.landing {
 display: flex;
 flex-direction: column;
 .welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $l-color1;
  background-image: linear-gradient(180deg, $l-color1 0%, $l-color2 74%);
  &__title {
   padding: 2rem 0;
   margin: 0;
   color: $dark1;
   font-weight: 800;
   line-height: 80%;
   font-size: $f-size-h;
   font-family: $f-fam-primary;
  }
  &__text {
   padding: 0;
   margin: 0;
   color: $dark1;
   font-family: $f-fam-h;
   font-style: italic;
   font-size: $f-size-welcome-text;
  }
 }

 .head3d {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $l-color2;
  height: 10em;
  span {
   font-size: 7rem;
  }
 }
}

@keyframes moveIt {
 from {
  background-position: bottom left;
 }
 to {
  background-position: bottom right;
 }
}
