@import "../../../../base";

.landing {
 display: flex;
 flex-direction: column;
 .welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  // background-color: $l-color1;
  background: #ba7eff;
  background: linear-gradient(180deg, #ba7eff 0%, rgb(247, 194, 231) 100%);
  box-shadow: 10px 1px 1px black;
  &__title {
   margin: 0;
   padding: 2rem 0;
   color: $dark1;
   color: rgb(255, 220, 208);
   font-family: $f-fam-primary;
   font-size: $f-size-h;
   font-weight: 800;
   line-height: 80%;
   text-shadow: 3px 3px 1px black;
   animation: 7s linear 1s infinite alternate colorFlair;
  }
  &__text {
   margin: 0;
   padding: 0;
   color: $dark1;
   font-family: $f-fam-h;
   font-size: $f-size-welcome-text;
   font-style: italic;
  }
 }

 .head3d {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10em;
  background: $l-color2;
  span {
   font-size: 7rem;
  }
 }
}

@keyframes colorFlair {
 0% {
  transform: skew(0, 0);
  filter: hue-rotate(0);
 }
 25% {
  transform: skew(-1deg, 5deg);
  filter: hue-rotate(360deg);
 }
 75% {
  transform: skew(5deg, -1deg);
  filter: hue-rotate(-360deg);
 }
 100% {
  transform: skew(0, 0);
  filter: hue-rotate(0);
 }
}
