.about-me__text, .about-me__tech-list {
  padding-bottom: 1em;
  font-family: sans-serif;
  font-size: calc(1vw + 0.7rem);
  font-weight: 300;
  text-align: left;
  white-space: pre-wrap;
}

@-webkit-keyframes colorFlair {
  0% {
    -webkit-transform: skew(0, 0);
            transform: skew(0, 0);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  25% {
    -webkit-transform: skew(-1deg, 5deg);
            transform: skew(-1deg, 5deg);
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
  75% {
    -webkit-transform: skew(5deg, -1deg);
            transform: skew(5deg, -1deg);
    -webkit-filter: hue-rotate(-360deg);
            filter: hue-rotate(-360deg);
  }
  100% {
    -webkit-transform: skew(0, 0);
            transform: skew(0, 0);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
}

@keyframes colorFlair {
  0% {
    -webkit-transform: skew(0, 0);
            transform: skew(0, 0);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  25% {
    -webkit-transform: skew(-1deg, 5deg);
            transform: skew(-1deg, 5deg);
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
  75% {
    -webkit-transform: skew(5deg, -1deg);
            transform: skew(5deg, -1deg);
    -webkit-filter: hue-rotate(-360deg);
            filter: hue-rotate(-360deg);
  }
  100% {
    -webkit-transform: skew(0, 0);
            transform: skew(0, 0);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
}

@-webkit-keyframes slidein {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slidein {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3em;
  border: solid 1px #ba7eff;
  background-color: #fffaf6;
  background-image: url("../../../Assets/svgs/top-wave.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.about-me__content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
  width: 80%;
  padding: 4rem;
  background-color: rgba(255, 255, 255, 0.692);
  gap: 2rem;
  -webkit-box-shadow: 5px 5px 1px rgba(187, 128, 255, 0.663);
          box-shadow: 5px 5px 1px rgba(187, 128, 255, 0.663);
  border: solid 1px #ba7eff;
}

.about-me__content-wrapper:before {
  background-image: url("../../../Assets/svgs/top-wave.svg");
}

.about-me__sub-heading {
  padding: 2rem;
  color: #000;
  color: #a95eff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
}

.about-me__text {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 1rem;
  padding: 1rem;
  font-size: 18px;
}

.about-me__tech-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0rem 25% 6rem 25%;
  font-size: 20px;
}

.about-me__tech-list p {
  width: 100%;
  padding: 1rem;
  font-size: 24px;
  text-align: center;
}

.about-me__tech-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-bottom: 1rem;
  padding: 0.5rem;
  list-style-type: none;
  text-align: center;
}

.about-me__tech-list ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  margin: 0.5rem;
  padding: 1rem;
  border: solid 1px #ba7eff;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 1px #ba7effa9;
          box-shadow: 5px 5px 1px #ba7effa9;
}

.about-me .col-2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
}

.comp-graphic {
  min-width: 400px;
  height: 400px;
  border-radius: 100%;
  background: #ba7eff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ba7eff), to(#f7c2e7));
  background: linear-gradient(180deg, #ba7eff 0%, #f7c2e7 100%);
}

.comp-graphic .dragon {
  position: absolute;
  font-size: 90px;
}

.comp-graphic .comp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 160px;
}

.line {
  width: 100%;
  height: 1px;
  margin: 2rem 0;
  background-color: #ba7eff;
}
/*# sourceMappingURL=styles.css.map */