@import "../../../base";

.header {
 display: flex;
 z-index: 2;
 position: fixed;
 align-items: center;
 justify-content: space-between;
 width: 100vw;
 padding: 0 1rem;
 background: $light1;
 box-shadow: $box-shadow-main;
 transition: transform 0.5s;
 &--hidden {
  transform: translateY(-110%);
  @extend .header;
 }

 .logo {
  color: $dark1;
  font-family: $f-fam-primary;
  font-size: $f-size-logo;
  font-weight: 800;
  letter-spacing: calc(2vw + 0.1em);
  text-transform: uppercase;
 }

 .navbar {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: calc(8rem + 25vw);
  height: 100vh;
  padding: 3rem 0 1rem 0;
  animation: slidein 0.2s ease-in-out;
  &--menuOpen {
   display: flex;
   z-index: 2;
   flex-direction: column;
   justify-content: flex-start;
   background: rgba(255, 255, 255, 1);
   @extend .navbar;
   .navbar__links {
    margin: 0.5rem 0;
    padding: 0.7rem 0;
    box-shadow: $box-shadow-btn;
    color: $dark1;
    font-family: $f-fam-p;
    font-size: $f-size-nav-links;
    font-weight: 300;
    text-transform: uppercase;
    &:hover {
     background: $light2;
    }
   }
  }
 }

 .menu-toggle {
  z-index: 3;
  position: relative;
  width: 1em;
  height: 1em;
  overflow: hidden;
  border: 0;
  border-radius: 50%;
  background-color: $light1;
  font-size: 3em;
  line-height: 0.4;
  text-indent: 5em;
  white-space: nowrap;
  transition: background-color 0.5s;
  &:hover {
   background-color: $light2;
   cursor: pointer;
  }
  &::after {
   display: block;
   position: absolute;
   top: 0.3em;
   left: 0.2em;
   color: $dark1;
   text-indent: 0;
   content: "\2261";
  }

  &--open {
   @extend .menu-toggle;
   &::after {
    top: 0.4em;
    left: 0.25em;
    font-size: 0.8em;
    content: "\2715";
   }
  }
 }
}

.modal {
 display: none;
 &--open {
  display: block;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
 }
}

@media (min-width: 720px) {
 .header {
  .menu-toggle {
   display: none;
  }
  .navbar {
   display: flex;
   position: static;
   flex-direction: row;
   flex-grow: 1;
   align-items: center;
   justify-content: flex-end;
   height: 100%;
   padding: 0;
   .navbar__links {
    height: 100%;
    margin: 0;
    padding: 0.7rem calc(1vw + 1rem);
    color: $dark1;
    font-family: $f-fam-p;
    font-size: $f-size-p;
    font-weight: 300;
    text-transform: uppercase;
    white-space: nowrap;
    &:hover {
     background: $light2;
     text-decoration: underline;
    }
   }
  }
 }
}
