.section_title {
  padding: 1rem 0 2rem 0;
  color: #000;
  font-family: "Mulish", sans-serif;
  font-size: calc(2vw + 0.9rem);
  font-weight: 800;
  letter-spacing: calc(2vw + 0.1em);
  text-align: left;
  text-transform: uppercase;
}

.project-dash p {
  padding-bottom: 1em;
  font-family: sans-serif;
  font-size: calc(1vw + 0.7rem);
  font-weight: 300;
  text-align: left;
  white-space: pre-wrap;
}

@-webkit-keyframes colorFlair {
  0% {
    -webkit-transform: skew(0, 0);
            transform: skew(0, 0);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  25% {
    -webkit-transform: skew(-1deg, 5deg);
            transform: skew(-1deg, 5deg);
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
  75% {
    -webkit-transform: skew(5deg, -1deg);
            transform: skew(5deg, -1deg);
    -webkit-filter: hue-rotate(-360deg);
            filter: hue-rotate(-360deg);
  }
  100% {
    -webkit-transform: skew(0, 0);
            transform: skew(0, 0);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
}

@keyframes colorFlair {
  0% {
    -webkit-transform: skew(0, 0);
            transform: skew(0, 0);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  25% {
    -webkit-transform: skew(-1deg, 5deg);
            transform: skew(-1deg, 5deg);
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
  75% {
    -webkit-transform: skew(5deg, -1deg);
            transform: skew(5deg, -1deg);
    -webkit-filter: hue-rotate(-360deg);
            filter: hue-rotate(-360deg);
  }
  100% {
    -webkit-transform: skew(0, 0);
            transform: skew(0, 0);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
}

@-webkit-keyframes slidein {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slidein {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.my-node-enter {
  opacity: 0;
}

.my-node-enter-active {
  opacity: 1;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

.my-node-exit {
  opacity: 1;
}

.my-node-exit-active {
  opacity: 0;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

.project-dash {
  padding: 3rem 1rem;
  background: #fff;
  background: rgba(255, 255, 255, 0.575);
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.4), 0 2px 6px 2px rgba(60, 64, 67, 0.3);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.4), 0 2px 6px 2px rgba(60, 64, 67, 0.3);
}

.project-dash__projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(22rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: calc(1vw + 0.6rem);
  padding-left: calc(1vw + 0.6rem);
}

.project-dash__projects .proj-card {
  margin: 0.7rem;
  padding: 2rem 1rem 1rem 1rem;
  border-radius: 20px;
  background: white;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.4), 0 2px 6px 2px rgba(60, 64, 67, 0.3);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.4), 0 2px 6px 2px rgba(60, 64, 67, 0.3);
}

.project-dash__projects .proj-card__icon img {
  display: block;
  min-width: 150px;
  max-width: 250px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.4), 0 2px 6px 2px rgba(60, 64, 67, 0.3);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.4), 0 2px 6px 2px rgba(60, 64, 67, 0.3);
  border-radius: 10px;
}

.project-dash__projects .proj-card__title {
  padding: 0.8rem 0;
  padding-left: 1rem;
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: calc(1vw + 1rem);
  font-style: italic;
  font-weight: 400;
  text-align: left;
}

.project-dash__projects .proj-card__text {
  margin: 0.5rem 0.5em;
  padding: 0;
  color: #000;
  font-family: sans-serif;
  font-size: calc(1vw + 0.7rem);
}

.project-dash__projects .proj-card__tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.project-dash__projects .proj-card__tech span {
  margin: 3px;
  padding: 2px 3px;
  border: solid 1px;
  color: #474747;
  font-family: sans-serif;
  font-size: calc(1vw + 0.5rem);
}

.card-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card-links__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.644);
  background: #fff;
  font-family: sans-serif;
  font-size: calc(1vw + 0.3rem);
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.card-links__link:hover {
  background-color: #ddd;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.card-links__link img {
  width: calc(1vw + 2rem);
  height: calc(1vw + 2rem);
}

a {
  text-decoration: none;
}

@media (max-width: 600px) {
  .project-dash__projects {
    -ms-grid-columns: (minmax(18rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }
}
/*# sourceMappingURL=styles.css.map */