.section_title {
  padding: 1rem 0 2rem 0;
  display: inline-block;
  text-align: center;
  color: #000;
  font-family: "Mulish", sans-serif;
  font-size: calc(2vw + 0.9rem);
  font-weight: 800;
  letter-spacing: calc(2vw + 0.1em);
  text-transform: uppercase;
}

@-webkit-keyframes colorFlair {
  0% {
    -webkit-transform: skew(0, 0);
            transform: skew(0, 0);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  25% {
    -webkit-transform: skew(-1deg, 5deg);
            transform: skew(-1deg, 5deg);
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
  75% {
    -webkit-transform: skew(5deg, -1deg);
            transform: skew(5deg, -1deg);
    -webkit-filter: hue-rotate(-360deg);
            filter: hue-rotate(-360deg);
  }
  100% {
    -webkit-transform: skew(0, 0);
            transform: skew(0, 0);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
}

@keyframes colorFlair {
  0% {
    -webkit-transform: skew(0, 0);
            transform: skew(0, 0);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  25% {
    -webkit-transform: skew(-1deg, 5deg);
            transform: skew(-1deg, 5deg);
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
  75% {
    -webkit-transform: skew(5deg, -1deg);
            transform: skew(5deg, -1deg);
    -webkit-filter: hue-rotate(-360deg);
            filter: hue-rotate(-360deg);
  }
  100% {
    -webkit-transform: skew(0, 0);
            transform: skew(0, 0);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
}

@-webkit-keyframes slidein {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slidein {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.project-dash {
  padding: 3rem 1rem;
  background-color: #d5fff5;
}

.project-dash .proj-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  margin: 2rem;
  padding: 2rem;
  background-color: #fff;
  gap: 2rem;
  -webkit-box-shadow: 5px 5px 1px rgba(187, 128, 255, 0.663);
          box-shadow: 5px 5px 1px rgba(187, 128, 255, 0.663);
  border: solid 1px #ba7eff;
}

.project-dash .proj-card .proj-col-1 {
  -ms-grid-column-align: center;
      justify-self: center;
  height: 100%;
}

.project-dash .proj-card__icon img {
  display: block;
  min-width: 150px;
  max-width: 250px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-shadow: 5px 5px 1px rgba(187, 128, 255, 0.663);
          box-shadow: 5px 5px 1px rgba(187, 128, 255, 0.663);
  border: solid 1px #ba7eff;
}

.project-dash .proj-card__title {
  z-index: 1;
  position: relative;
  margin-bottom: 2rem;
  color: #a95eff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.project-dash .proj-card__content {
  margin: 0.5rem;
  padding: 0 4rem;
  text-align: left;
}

.project-dash .proj-card__content--header {
  margin: 1rem;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.project-dash .proj-card__content--text {
  margin: 0.5rem;
  padding: 0;
  color: #000;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: left;
}

.project-dash .proj-card__tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.project-dash .proj-card__tech span {
  margin: 3px;
  padding: 2px 3px;
  background-color: white;
  -webkit-box-shadow: 3px 3px 1px #2cffce;
          box-shadow: 3px 3px 1px #2cffce;
  color: #474747;
  font-family: sans-serif;
  font-size: calc(1vw + 0.3rem);
}

.card-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card-links__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: calc(1vw + 0.3rem);
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.card-links__link:hover {
  background-color: #ddd;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.card-links__link img {
  width: calc(1vw + 2rem);
  height: calc(1vw + 2rem);
}

a {
  text-decoration: none;
}

@media (max-width: 600px) {
  .project-dash__projects {
    -ms-grid-columns: (minmax(18rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }
}
/*# sourceMappingURL=styles.css.map */