@import "../../../base";

.footer {
 background: $light1;
 padding: 1.2rem;
 box-shadow: $box-shadow-main;
 background: $dark2;
 &__text {
  font-family: monospace;
  color: $title-color;
  a {
   color: $purp-main;
  }
 }
}
