@import "../../../../base";

.header {
 position: fixed;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0 1rem;
 width: 100vw;
 z-index: 2;
 transition: transform 0.5s;
 background: $light1;
 box-shadow: 1px 1px 20px black;
 &--hidden {
  @extend .header;
  transform: translateY(-110%);
 }

 .logo {
  font-size: $f-size-logo;
  font-family: $f-fam-primary;
  color: $dark1;
  font-weight: 800;
  letter-spacing: calc(2vw + 0.1em);
  text-transform: uppercase;
  transition: transform 1s;

  &:hover {
   transform: scale(1.07);
  }
 }

 .navbar {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 3rem 0 1rem 0;
  height: 100vh;
  width: calc(8rem + 25vw);
  animation: slidein 0.2s ease-in-out;

  &--menuOpen {
   @extend .navbar;
   display: flex;
   flex-direction: column;
   background: $dark1;
   z-index: 2;

   .navbar__links {
    padding: 0.5rem;
    margin: 1rem 0;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    background: $light2;
    font-size: $f-size-nav-links;
   }
  }
 }

 .menu-toggle {
  position: relative;
  font-size: 3em;
  border: 0;
  width: 1em;
  height: 1em;
  line-height: 0.4;
  border-radius: 50%;
  text-indent: 5em;
  white-space: nowrap;
  overflow: hidden;
  background-color: $light1;
  transition: background-color 0.5s;
  z-index: 3;
  &:hover {
   cursor: pointer;
   background-color: $light2;
  }
  &::after {
   position: absolute;
   top: 0.3em;
   left: 0.2em;
   text-indent: 0;
   display: block;
   content: "\2261";
  }

  &--open {
   @extend .menu-toggle;
   &::after {
    top: 0.4em;
    left: 0.25em;
    font-size: 0.8em;
    content: "\2715";
   }
  }
 }
}

.modal {
 display: none;
 &--open {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
 }
}

@keyframes slidein {
 from {
  transform: translateX(100%);
 }

 to {
  transform: translateX(0);
 }
}
