@import "../../../../base";

$container-size: 3rem;
$icon-size: 2rem;

.top-scroll {
 z-index: 2;
 position: fixed;
 right: 1.5rem;
 bottom: 1rem;
 width: $container-size;
 height: $container-size;
 overflow: hidden;
 border: none;
 border-radius: 100%;
 background: $light1;
 box-shadow: $box-shadow-btn;
 text-indent: 10rem;
 text-indent: -10rem;
 transition: transform 0.6s;
 &--hidden {
  transform: translateY(10rem);
  @extend .top-scroll;
 }
 &:hover {
  cursor: pointer;
 }
 &::after {
  position: absolute;
  right: ($container-size / 6);
  bottom: 0.2rem;
  color: $dark1;
  font-family: serif;
  font-size: $icon-size;
  text-indent: 0;
  content: "\25B2";
 }
}
