@import "../../../base";

.about-me {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 3em 0;
 border: solid 1px $purp-main;
 background-color: rgb(255, 250, 246);
 background-image: url("../../../Assets/top-wave.svg");
 background-repeat: no-repeat;
 background-size: 100% auto;
 .about-block {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 1rem 0 3rem 0;
  margin-top: 3rem;
  &__flex {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0;
   padding: 0;
   .col-1 {
    padding: 0 5%;
    max-width: 700px;
   }
   .col-2 {
    max-width: 700px;

    align-self: center;
    padding-right: 5%;
   }
  }
 }
 .tech-cloud {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 25% 0 25%;
 }
}

//Computer Graphic stylings:
//Please note, that because I used JS logic to make it dynamic,
//some of the css stylings are inline to the react component itself.

.comp-graphic {
 border-radius: 100%;
 @include gradient-main;
 .dragon {
  position: absolute;
 }
 .comp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
 }
}

//Media Queries

@media (max-width: 800px) {
 .about-me {
  background-size: auto 20%;
  .about-block {
   width: 95%;
   .col-1 {
    padding: 0;
    max-width: 700px;
   }
  }
  .section__text {
   font-size: 0.8rem;
  }
  .tech-cloud {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 3rem 0 0 0;
  }
  .line {
   width: 60%;
  }
 }
 .about-block__flex {
  display: flex;
  flex-direction: column;
 }
 .comp-graphic {
  margin: 1rem 0 0 0;
 }
}
