.header {
 position: fixed;
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 0;
 padding: 0 1rem;
 width: 100vw;
 background: lightblue;
 transition: transform 0.5s;
 //  overflow: auto;
 z-index: 2;
 &--hidden {
  @extend .header;
  transform: translateY(-100%);
 }
 .logo {
  font-size: calc(1vw + 0.9em);
 }

 .navbar {
  background: lightcoral;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  margin: 0;
  padding: 3rem 0 1rem 0;
  animation: slidein 0.2s ease-in-out;
  width: calc(8rem + 25vw);
  height: 100vh;
  &--menuOpen {
   @extend .navbar;
   display: flex;
   flex-direction: column;
   justify-content: center;
   overscroll-behavior: contain;
   .navbar__links {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Arial Narrow Bold", sans-serif;
    font-weight: 700;
    padding: 2rem;
    margin: 1rem 0;
    border: thick double #32a1ce;
    background: orange;
    font-size: calc(1vw + 1em);
   }
  }
 }

 .menu-toggle {
  position: relative;
  z-index: 3;
  border: 0;
  background-color: coral;
  font-size: 3em;
  width: 1em;
  height: 1em;
  line-height: 0.4;
  text-indent: 5em;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 50%;

  &:hover {
   cursor: pointer;
  }
  &::after {
   position: absolute;
   top: 0.3em;
   left: 0.2em;
   display: block;
   content: "\2261";
   text-indent: 0;
  }

  &--open {
   @extend .menu-toggle;
   &::after {
    top: 0.4em;
    left: 0.25em;
    font-size: 0.8em;
    content: "\2715";
   }
  }
 }
}

.modal {
 display: none;
 &--open {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
 }
}

@keyframes slidein {
 from {
  transform: translateX(100%);
 }

 to {
  transform: translateX(0);
 }
}
