$d-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
 "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

.header {
 position: fixed;
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 0;
 padding: 0 1rem;
 width: 100vw;
 background: lightblue;
 transition: all 0.5s;
 &--hidden {
  @extend .header;
  transform: translateY(-100%);
 }
 .logo {
  font-size: calc(1vw + 1em);
 }
 .navbar {
  background: lightcoral;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 3rem 0 1rem 0;

  &--menuOpen {
   @extend .navbar;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 50%;

   .navbar__links {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Arial Narrow Bold", sans-serif;
    font-weight: 700;
    padding: 1rem;
    font-size: calc(1vw + 1em);
   }
  }
 }
 .menu-toggle {
  position: relative;
  z-index: 1;
  border: 0;
  background-color: transparent;
  font-size: 3em;
  width: 1em;
  height: 1em;
  line-height: 0.4;
  text-indent: 5em;
  white-space: nowrap;
  overflow: hidden;
  &:hover {
   cursor: pointer;
  }
  &::after {
   position: absolute;
   top: 0.2em;
   left: 0.2em;
   display: block;
   content: "\2261";
   text-indent: 0;
  }
 }
}
