.header, .header--hidden {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0 1rem;
  width: 100vw;
  background: lightblue;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.header--hidden {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.header .logo, .header--hidden .logo {
  font-size: calc(1vw + 0.9em);
}

.header .navbar, .header--hidden .navbar, .header .navbar--menuOpen, .header--hidden .navbar--menuOpen {
  background: lightcoral;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  margin: 0;
  padding: 3rem 0 1rem 0;
  -webkit-animation: slidein 0.2s ease-in-out;
          animation: slidein 0.2s ease-in-out;
  width: calc(8rem + 25vw);
  height: 100vh;
}

.header .navbar--menuOpen, .header--hidden .navbar--menuOpen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overscroll-behavior: contain;
}

.header .navbar--menuOpen .navbar__links, .header--hidden .navbar--menuOpen .navbar__links {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Arial Narrow Bold", sans-serif;
  font-weight: 700;
  padding: 2rem;
  margin: 1rem 0;
  border: thick double #32a1ce;
  background: orange;
  font-size: calc(1vw + 1em);
}

.header .menu-toggle, .header--hidden .menu-toggle, .header .menu-toggle--open, .header--hidden .menu-toggle--open {
  position: relative;
  z-index: 1;
  border: 0;
  background-color: coral;
  font-size: 3em;
  width: 1em;
  height: 1em;
  line-height: 0.4;
  text-indent: 5em;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 50%;
}

.header .menu-toggle:hover, .header--hidden .menu-toggle:hover, .header .menu-toggle--open:hover, .header--hidden .menu-toggle--open:hover {
  cursor: pointer;
}

.header .menu-toggle::after, .header--hidden .menu-toggle::after, .header .menu-toggle--open::after, .header--hidden .menu-toggle--open::after {
  position: absolute;
  top: 0.3em;
  left: 0.2em;
  display: block;
  content: "\2261";
  text-indent: 0;
}

.header .menu-toggle--open::after, .header--hidden .menu-toggle--open::after {
  top: 0.4em;
  left: 0.25em;
  font-size: 0.8em;
  content: "\2715";
}

@-webkit-keyframes slidein {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slidein {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=styles.css.map */