@import "../../../base";

.project-dash {
 padding: 3rem 1rem;
 background-color: $green-main;

 .proj-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-content: space-evenly;
  margin: 2rem;
  padding: 2rem;
  background-color: $light1;
  gap: 2rem;
  @include border-shadow-main;
  .proj-col-1 {
   justify-self: center;
   height: 100%;
  }
 }
}

.card-links {
 display: flex;
 align-items: flex-end;
 justify-content: space-around;
}
