@import "../../../base";

.section_title {
 @extend %section-title;
}

.project-dash {
 padding: 3rem 1rem;
 background-color: $green-main;
 .proj-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-content: space-evenly;
  margin: 2rem;
  padding: 2rem;
  background-color: $light1;
  gap: 2rem;
  @include border-shadow-main;

  .proj-col-1 {
   justify-self: center;
   height: 100%;
  }

  &__icon {
   img {
    display: block;
    min-width: 150px;
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;
    @include border-shadow-main;
   }
  }

  &__title {
   z-index: 1;
   position: relative;
   margin-bottom: 2rem;
   @include section-sub-header;
  }
  &__content {
   margin: 0.5rem;
   padding: 0 4rem;
   text-align: left;

   &--header {
    margin: 1rem;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
   }

   &--text {
    margin: 0.5rem;
    padding: 0;
    color: $dark1;
    font-family: $f-fam-p;
    font-weight: 300;
    font-size: 18px;
    text-align: left;
   }
  }

  &__tech {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   width: 100%;
   margin-top: 1rem;
   span {
    margin: 3px;
    padding: 2px 3px;
    background-color: white;
    box-shadow: 3px 3px 1px #2cffce;
    color: rgb(71, 71, 71);
    font-family: $f-fam-p;
    font-size: calc(1vw + 0.3rem);
   }
  }
 }
}

.card-links {
 display: flex;
 align-items: flex-end;
 justify-content: space-around;
 &__link {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  font-family: $f-fam-p;
  font-size: calc(1vw + 0.3rem);
  text-transform: uppercase;
  transition: background-color 0.2s;
  &:hover {
   background-color: $light2;
   text-decoration-line: underline;
  }
  img {
   width: calc(1vw + 2rem);
   height: calc(1vw + 2rem);
  }
 }
}
a {
 text-decoration: none;
}

@media (max-width: 600px) {
 .project-dash {
  &__projects {
   grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }
 }
}
