@import "../../../../base";

.section_title {
 @extend %section-title;
}

.about-me {
 padding: 3em 1em;
 background: rgb(155, 255, 230);

 p {
  @extend %section-p;
 }
 &__tech-list {
  width: 100%;
  @extend %section-p;

  display: flex;
  justify-content: space-around;
 }
}
