@import "../../../../base";

.section_title {
 @extend %section-title;
}

.about-me {
 padding: 3em 1em;
 background: $light2;
 p {
  @extend %section-p;
 }
 &__tech-list {
  width: 100%;
  @extend %section-p;

  display: flex;
  justify-content: space-around;
 }
}
