@-webkit-keyframes colorFlair {
  0% {
    -webkit-transform: skew(0, 0);
            transform: skew(0, 0);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  25% {
    -webkit-transform: skew(-1deg, 5deg);
            transform: skew(-1deg, 5deg);
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
  75% {
    -webkit-transform: skew(5deg, -1deg);
            transform: skew(5deg, -1deg);
    -webkit-filter: hue-rotate(-360deg);
            filter: hue-rotate(-360deg);
  }
  100% {
    -webkit-transform: skew(0, 0);
            transform: skew(0, 0);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
}

@keyframes colorFlair {
  0% {
    -webkit-transform: skew(0, 0);
            transform: skew(0, 0);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  25% {
    -webkit-transform: skew(-1deg, 5deg);
            transform: skew(-1deg, 5deg);
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
  75% {
    -webkit-transform: skew(5deg, -1deg);
            transform: skew(5deg, -1deg);
    -webkit-filter: hue-rotate(-360deg);
            filter: hue-rotate(-360deg);
  }
  100% {
    -webkit-transform: skew(0, 0);
            transform: skew(0, 0);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
}

@-webkit-keyframes slidein {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slidein {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 1rem 2rem 1rem;
  background-color: #f7c2e7;
  background-image: url("../../../Assets/wave-2.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.contact .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  padding: 3rem 0;
}

.contact img {
  width: 300px;
  -webkit-box-shadow: 5px 5px 1px rgba(187, 128, 255, 0.663);
          box-shadow: 5px 5px 1px rgba(187, 128, 255, 0.663);
  border: solid 1px #ba7eff;
}

.contact .email {
  margin: 3rem 0;
}

.contact .email__text {
  font-family: monospace;
  font-size: calc(1vw + 1rem);
}

.contact .email__icon {
  padding-top: 2rem;
}

@media (max-width: 750px) {
  .contact .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
/*# sourceMappingURL=styles.css.map */