@import "../../../base";

.section_title {
 text-align: center;
 @extend %section-title;
}

.contact {
 display: flex;
 flex-direction: column;
 padding: 3rem 1rem 5rem 1rem;
 background-image: url("../../../Assets/wave-2.svg");
 background-repeat: no-repeat;
 background-size: auto 100%;
 background-color: $pink-main;
}
