@import "../../../base";

.contact {
 display: flex;
 flex-direction: column;
 padding: 3rem 1rem 5rem 1rem;
 background-image: url("../../../Assets/wave-2.svg");
 background-repeat: no-repeat;
 background-size: 100% auto;
 background-color: $pink-main;
 .email {
  margin: 3rem 0;
  &__text {
   font-family: monospace;
   font-size: calc(1vw + 1rem);
  }
  &__icon {
   padding-top: 2rem;
  }
 }
}
