@import "../../../base";

.section_title {
 text-align: center;
 @extend %section-title;
}

.contact {
 display: flex;
 flex-direction: column;
 padding: 3rem 1rem 5rem 1rem;
 background-image: url("../../../Assets/wave-2.svg");
 background-repeat: no-repeat;
 background-size: 100% auto;
 background-color: $pink-main;
 .email-text {
  font-family: monospace;
  font-size: calc(1vw + 1rem);
 }
 .email-icon {
  padding-top: 2rem;
 }
}
