$dark1: #000;
$dark2: #666;

$light1: #fff;
$light2: #ddd;
$l-color1: #eee;
$l-color2: #eee;
$color-list: #9ad9db, #beb4c5, #e5b3bb, green, blue, purple;

$f-fam-primary: "Mulish", sans-serif;
$f-fam-h: "IBM Plex Sans", sans-serif;
$f-fam-p: sans-serif;

$f-size-logo: calc(2vw + 1.2rem);
$f-size-h: calc(2vw + 2.3rem);
$f-size-h2: calc(2vw + 0.9rem);
$f-size-h3: calc(2vw + 1rem);
$f-size-p: calc(1vw + 0.7rem);
$f-size-welcome-text: calc(1.5vw + 1rem);
$f-size-nav-links: calc(1vw + 1rem);

$box-shadow-main: 0 1px 2px 0 rgba(60, 64, 67, 0.4),
 0 2px 6px 2px rgba(60, 64, 67, 0.3);
$box-shadow-btn: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);

%section-title {
 text-transform: uppercase;
 padding: 1rem 0 2rem 0;
 font-size: $f-size-h2;
 font-family: $f-fam-primary;
 color: $dark1;
 text-align: left;
 font-weight: 800;
 letter-spacing: calc(2vw + 0.1em);
}
%section-p {
 text-align: left;
 font-family: $f-fam-p;
 font-size: $f-size-p;
 font-weight: 300;
 padding-bottom: 1em;
 white-space: pre-wrap;
}
