// Colors

$dark1: #000;
$dark2: #666;

$light1: #fff;
$light2: #ddd;

$title-color: #ffdcd0;
$purp-main: #ba7eff;
$purp-main-faded: rgba(187, 128, 255, 0.663);
$purp-main-dark: #a95eff;
$pink-main: #f7c2e7;
$green-main: #d5fff5;

@mixin section-sub-header {
 color: $purp-main-dark;
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
 font-size: 2rem;
 font-weight: 700;
}

@mixin border-shadow-main {
 box-shadow: 5px 5px 1px $purp-main-faded;
 border: solid 1px $purp-main;
}

@mixin gradient-main {
 background: $purp-main;
 background: linear-gradient(180deg, $purp-main 0%, $pink-main 100%);
}

$f-fam-primary: "Mulish", sans-serif;
$f-fam-h: "IBM Plex Sans", sans-serif;
$f-fam-p: sans-serif;

$f-size-logo: calc(2vw + 1.2rem);
$f-size-h: calc(2vw + 2.3rem);
$f-size-h2: calc(2vw + 0.9rem);
$f-size-h3: calc(2vw + 1rem);
$f-size-p: calc(1vw + 0.7rem);
$f-size-welcome-text: calc(1.5vw + 1rem);
$f-size-nav-links: calc(1vw + 1rem);

$box-shadow-main: 0 1px 2px 0 rgba(60, 64, 67, 0.4),
 0 2px 6px 2px rgba(60, 64, 67, 0.3);
$box-shadow-btn: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);

%section-title {
 padding: 1rem 0 2rem 0;
 display: inline-block;
 text-align: center;
 color: $dark1;
 font-family: $f-fam-primary;
 font-size: $f-size-h2;
 font-weight: 800;
 letter-spacing: calc(2vw + 0.1em);
 text-transform: uppercase;
}
%section-p {
 color: red;
}

@mixin indent() {
 @media (min-width: 600px) {
  padding-left: calc(2vw + 3.4rem);
  padding-right: calc(2vw + 3.4rem);
 }

 @media (min-width: 1000px) {
  padding-left: calc(2vw + 7rem);
  padding-right: calc(2vw + 7rem);
 }
}

// Animation key frames

@keyframes colorFlair {
 0% {
  transform: skew(0, 0);
  filter: hue-rotate(0);
 }
 25% {
  transform: skew(-1deg, 5deg);
  filter: hue-rotate(360deg);
 }
 75% {
  transform: skew(5deg, -1deg);
  filter: hue-rotate(-360deg);
 }
 100% {
  transform: skew(0, 0);
  filter: hue-rotate(0);
 }
}

@keyframes slidein {
 from {
  transform: translateX(100%);
 }

 to {
  transform: translateX(0);
 }
}
