@-webkit-keyframes colorFlair {
  0% {
    -webkit-transform: skew(0, 0);
            transform: skew(0, 0);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  25% {
    -webkit-transform: skew(-1deg, 5deg);
            transform: skew(-1deg, 5deg);
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
  75% {
    -webkit-transform: skew(5deg, -1deg);
            transform: skew(5deg, -1deg);
    -webkit-filter: hue-rotate(-360deg);
            filter: hue-rotate(-360deg);
  }
  100% {
    -webkit-transform: skew(0, 0);
            transform: skew(0, 0);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
}

@keyframes colorFlair {
  0% {
    -webkit-transform: skew(0, 0);
            transform: skew(0, 0);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  25% {
    -webkit-transform: skew(-1deg, 5deg);
            transform: skew(-1deg, 5deg);
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
  75% {
    -webkit-transform: skew(5deg, -1deg);
            transform: skew(5deg, -1deg);
    -webkit-filter: hue-rotate(-360deg);
            filter: hue-rotate(-360deg);
  }
  100% {
    -webkit-transform: skew(0, 0);
            transform: skew(0, 0);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
}

@-webkit-keyframes slidein {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slidein {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.header, .header--hidden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  padding: 0 1rem;
  border: solid 1px #666;
  background: #fff;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.header--hidden {
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
}

.header .logo, .header--hidden .logo {
  margin: 0 1rem;
  color: #000;
  font-family: monospace;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: lowercase;
}

.header .navbar, .header--hidden .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  padding: 0;
}

.header .navbar__links, .header--hidden .navbar__links {
  margin: 0.7rem calc(1vw + 1rem);
  padding: 0.3rem;
  color: #000;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

@media (max-width: 750px) {
  .header .navbar, .header--hidden .navbar {
    display: none;
  }
  .header .navbar--menu-open, .header--hidden .navbar--menu-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 2;
    position: absolute;
    top: 100%;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: calc(8rem + 25vw);
    height: 100vh;
    padding: 3rem 0 1rem 0;
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #ffffff), to(#ffffff00));
    background: linear-gradient(#ffffff 40%, #ffffff00);
    -webkit-animation: slidein 0.2s ease-in-out;
            animation: slidein 0.2s ease-in-out;
  }
  .header .navbar--menu-open .navbar__links, .header--hidden .navbar--menu-open .navbar__links {
    width: 100%;
    margin: 0;
    border-top: 1px solid #666;
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: left;
  }
  .header .navbar--menu-open .navbar__links:last-child, .header--hidden .navbar--menu-open .navbar__links:last-child {
    border-bottom: 1px solid #666;
  }
  .header .menu-toggle, .header--hidden .menu-toggle {
    display: block;
    z-index: 3;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.375rem;
    overflow: hidden;
    border: 0;
    background-color: #fff;
  }
  .header .menu-toggle:hover, .header--hidden .menu-toggle:hover {
    cursor: pointer;
  }
  .modal {
    display: none;
  }
  .modal--open {
    display: block;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
/*# sourceMappingURL=styles.css.map */