@import "../../../base";

.section_title {
 @extend %section-title;
}

.contact {
 display: flex;
 flex-direction: column;
 padding: 3rem 1rem 5rem 1rem;

 &__link {
  width: 20%;
  margin: 1rem 0;
  padding: 0;
  color: $dark1;
  font-size: calc(1vw + 1rem);
  text-indent: calc(2vw + 1rem);
  text-transform: uppercase;
  transition: color 0.1s;
  @extend %section-p;
  &:hover {
   color: $light1;
   text-decoration-line: underline;
  }
 }
}
