@import "../../../base";
.landing {
 display: flex;
 flex-direction: column;
 @include gradient-main;
 .welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  &__title {
   margin: 0;
   padding: 2rem 0;
   color: $title-color;
   font-family: $f-fam-primary;
   font-size: $f-size-h;
   font-weight: 800;
   line-height: 80%;
   text-shadow: 3px 3px 1px black;
   animation: 7s linear 1s infinite alternate colorFlair;
  }
  &__text {
   margin: 0;
   padding: 0;
   color: $dark1;
   font-family: $f-fam-h;
   font-size: $f-size-welcome-text;
   font-style: italic;
  }
  &__icons {
   display: flex;
   flex-direction: row;
   padding: 1rem 0;
   .icon {
    margin: 0 calc(1vw + 0.4rem);
    transition: transform 0.3s;
    &:hover {
     transform: scale(1.3);
    }
   }
  }
 }
}
