@-webkit-keyframes colorFlair {
  0% {
    -webkit-transform: skew(0, 0);
            transform: skew(0, 0);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  25% {
    -webkit-transform: skew(-1deg, 5deg);
            transform: skew(-1deg, 5deg);
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
  75% {
    -webkit-transform: skew(5deg, -1deg);
            transform: skew(5deg, -1deg);
    -webkit-filter: hue-rotate(-360deg);
            filter: hue-rotate(-360deg);
  }
  100% {
    -webkit-transform: skew(0, 0);
            transform: skew(0, 0);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
}

@keyframes colorFlair {
  0% {
    -webkit-transform: skew(0, 0);
            transform: skew(0, 0);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  25% {
    -webkit-transform: skew(-1deg, 5deg);
            transform: skew(-1deg, 5deg);
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
  75% {
    -webkit-transform: skew(5deg, -1deg);
            transform: skew(5deg, -1deg);
    -webkit-filter: hue-rotate(-360deg);
            filter: hue-rotate(-360deg);
  }
  100% {
    -webkit-transform: skew(0, 0);
            transform: skew(0, 0);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
}

@-webkit-keyframes slidein {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slidein {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ba7eff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ba7eff), to(#f7c2e7));
  background: linear-gradient(180deg, #ba7eff 0%, #f7c2e7 100%);
}

.landing .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.landing .welcome__title {
  margin: 0;
  padding: 2rem 0;
  color: #ffdcd0;
  font-family: "Mulish", sans-serif;
  font-size: calc(2vw + 2.3rem);
  font-weight: 800;
  line-height: 80%;
  text-shadow: 3px 3px 1px black;
  -webkit-animation: 7s linear 1s infinite alternate colorFlair;
          animation: 7s linear 1s infinite alternate colorFlair;
}

.landing .welcome__text {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: calc(1.5vw + 1rem);
  font-style: italic;
}

.landing .welcome__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem 0;
}

.landing .welcome__icons .icon {
  margin: 0 calc(1vw + 0.4rem);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.landing .welcome__icons .icon:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
/*# sourceMappingURL=styles.css.map */