@import "../../../base";
.landing {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 height: 100vh;
 @include gradient-main;
 &__icons {
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
  .icon {
   margin: 0 calc(1vw + 0.4rem);
  }
 }
}
